* {
  box-sizing: border-box;
}
/*.container {
  width:1020px;
  margin: 0 auto;
}*/
/*.row {
  margin-bottom: 20px;
}
.row::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}*/
.col1  {width: 250px; display: inline; float: left; margin: 0;}
.col2  {width: 651px; display: inline; float: right; margin: 0;}

/*.offset1  {margin-left: 250px;}
.offset2  {margin-left: 651px;}*/
