@import "sprite-stylesheet.css";
@import "sprite-stylesheet-footer.css";
@import "header.css";
@import "sidebar.css";
@import "about.css";
@import "my-works.css";
@import "contact.css";
@import "authorization.css";
@import "popup-work.css";
@import "tooltip.css";

html {
  height: 100%;
}

body {
  background: url(../img/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: rgb(114, 112, 112);
  font: normal 1em 'OpenSans-Semibold';
  height: 100%;
}

/*----- General styles -----*/

* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  width: 960px;
}
.col1,
.col2  {
  display: inline;
  margin: 0;
  word-break: break-all;
}
.col1 {
  width: 250px;
  float: left;
}
.col2  {
  width: 651px;
  float: right;
}
.text-center {
  text-align: center;
}
.text-right {
  float: right;
}
.text-left {
  float: left;
}

/*----- FOOTER -----*/

.footer {
  background-image: -moz-linear-gradient( 90deg, #fff 0%, #f0f0f0 100%);
  background-image: -webkit-linear-gradient( 90deg, #fff 0%, #f0f0f0 100%);
  background-image: -ms-linear-gradient( 90deg, #fff 0%, #f0f0f0 100%);
  background-color: #f1f1f1;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.04);
  font-family: "OpenSans-Light";
}
.footer .container-footer {
  padding-top: 15px;
  position: relative;
}
.footer .copyright {
  text-align: center;
  font-size: 12px;
  float: left;
  padding-top: 8px;
  width: 621px;
}

/*----- Login -----*/

.footer .login {
  float: left;
  margin: 5px 0 0 88px;
  width: 70px;
}
.container-footer {
  margin: 0 auto;
  position: relative;
  width: 800px;
}
.login .login-text {
  color: #9c9c9c;
  display: block;
  font-family: 'OpenSans-Bold';
  font-size: 14px;
  height: 40px;
  line-height: 1.4;
  padding-left: 27px;
  text-align: left;
  text-decoration: none;
  text-shadow: 0.5px 0.866px 1px rgba(255, 255, 255, 0.333);
  text-transform: lowercase;
}

/*----- Прижимаем футер -----*/

.wrap {
  height: auto!important;
  min-height: 100%;
  min-width: 1030px;
  overflow: hidden;
  position: relative;
}
.wrap:after {
  content: "";
  display: block;
  height: 61px;
}
.footer {
  height: 61px;
  margin-top: -61px;
  min-width: 1030px;
}

/*----- CLEARFIX -----*/

.container:before,
.container:after,
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.container:after,
.cf:after {
    clear: both;
}
.cf {
    zoom: 1;
}
